<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <script src="/script.js"></script>
</head>
<body>
    <header>
        <div class="headerdiv">
            <h1>Student Management System</h1>
        </div>
    </header>
    <div class="central_div">
        <div><button id="show_all" class="but">Show all Student</button></div>
        <div><button id="add" class="but">Add Student</button></div>
        <div><button id="update" class="but">Update Student Info</button></div>
        <div><button id="remove" class="but">Remove Student</button></div>
    </div>
</body>
</html>